.dropdown-item {
    padding: 0.25rem 1.6rem;
}

/*
 * Dropone download tool
 */
.dropzone_previews .row .delete {
    display: none;
}
.dropzone_previews .row.dz-success .start,
.dropzone_previews .row.dz-success .cancel {
    display: none;
}
.dropzone_previews .row.dz-success .delete {
    display: block;
}
.dropzone_previews .row.dz-success .progress {
    display: none;
}
